*{
	font-family:Heebo;
	direction: rtl;
}

body{
	height: 100vh;
	margin: 0;
}

header{
	height: 20%;
	text-align: center;
	font-size: 16px;
	color: #3759b2;
	overflow: hidden;
}

#logo{
	width: 15%;
}

header p{
	margin-top: 0px;
	margin-bottom: 5%;
}

main{
	margin: 0 auto;
	height: 79%;
	width: 95%;
	overflow: hidden;
}

#welcome{
    text-align: right;
    position: absolute;
    color: black;
    top:90px;
    right:0;
    padding: 5px 40px;
}

#welcome h4{
    display: inline-block;
}

#back{
    text-align: right;
    position: absolute;
    font-size: 20px;
    color: black;
    top:101px;
    left:0;
    padding: 5px 40px;
    text-decoration: none;
    color:black;
}

#back:hover{
    color: black;
    text-decoration: underline;
}

#profile{
    width: 7%;
    border-radius: 50%;
}

header a{
    color: #e77587;
    font-weight: bold;
}

header a:hover{
    color: #e77587;
    
}
#tape{
	position: absolute;
	top: 18%;
	left: 46%;
	width: 8%;
	opacity: 0.5;
}

@media only screen and (max-width: 700px) {
    main{
        width: initial;
        height: initial;
        padding-bottom: 30px;
    }
    #back{
        position: unset;
    }
    
    #welcome{
        top: 140px;
    }
    
    #logo {
        width: 50%;
    }
    
    header{
        height: 27%;
    }
    
    header p {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    header h4 {
        font-size: 18px !important;
    }
    
    #tape{
        display: none;
    }
    
}