main{
	background-image:url("../pic/background4.png") ;
    background-size: 16%;
}

#aside{
    float:right;
    width: 25%;
    margin: 4% 5% 0 0;
}

#aside h1{
    margin-top: 0px; 
    text-align: center;
    background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgba(255, 232, 145, 0.7));
    display: inline-block;
}

#aside p{
    font-size: 17px;
    margin-top: 4px;
}

#aside h4{
    margin-top: 8%; 
    text-align: right;
}

#testForm{
	float:right;
    border-radius: 5px;
	background-color: white;
	box-shadow: 10px 10px #808080;
	width: 48%;
    height: 90%;
	overflow: hidden;
	text-align: right;
	margin-top: 2%;
    margin-left: 0px;
	text-align: right;
	padding: 1% 2%;
}

#FormTest{
    height: 90%;
    overflow-y: scroll;
    padding-left: 1%;
}

.question{
    background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgba(255, 232, 145, 0.7));
    display: inline-block;
}

#testForm h2{
    margin-bottom: 20px;
    
}

#startTimer{
    width: 50%;
    height: 120px;
    background-color: rgba(0,0,0,.075);
    border-radius: 62%;
    border: none;
    font-size: 20px;
    margin: 20% auto;
    outline: none;
    display: block;
}

#startTimer img{
    width: 45%;
}

#startTimer:hover{
    background-color: rgba(0,0,0,.1);
}

#qNumbers{
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
}

.qRow{
    margin-bottom: 5px;
}

.qRow .qNum:last-child{margin-left: 0px;}

.qNum{
    border: 0.5px solid black;
    display: inline-block;
    line-height: 40px;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    margin-left: 8px;
}

.qNum:hover{
    background-color: #fefbd8;
    text-decoration: none;
}

#next, #prev {
    color: black;
    display: inline-block;
    font-size:40px;
}

#next{float: left;}

#prev{float: right}

#leftAside{
    width: 20%;
    float: right;
    text-align: center;
}

#testTime{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

#finishButton{
	border-radius: 5px;
    padding: 10px;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
    margin: 75% auto 0;
    display: block;
}

#homeButton:hover{background-color: #eee1af}

#countdownExample{
    width: 50%;
    height: 120px;
    background-color: rgba(0,0,0,.075);
    border-radius: 62%;
    border: none;    
    margin: 20% auto 0;
    font-size: 30px;
    padding: 15% 0;
    display: inline-block;
}

#clockElements{
    display: none;
    text-align: center;
}

#clockElements p{display: inline-block}

 /* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffe891; 
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    #testForm, #aside{
        width: 100%;
       
    }
    
    #countdownExample{
        height: auto;
        margin-top: 0; 
        padding: 0;
    }
    
    #startTimer{
        margin: 0 auto;
    }
/*
    #clockElements, #countdownExample, #clock, #testTime, #startTimer{
        display: none;
    }
*/
    
    #finishButton, #leftAside{
        margin: 5% 0;
        width: 100%;
    }
}