main{
	background-image:url("../pic/background1.png") ;
}

#uploadTest{
	width: 25%;
	height: 70%;
	float: left;
	text-align: center;
	border-radius: 5px;
    padding: 10px;
    background-color: #ffe891;
    box-shadow: 5px 5px #dbba3b;
	margin: 5% 0px 0px 10%;
}

#uploadLink{
	color: black;
	font-size: 30px;
	margin-bottom: 20px;
	display: inline-block;
}

#uploadLink:hover{text-decoration: none; font-weight: bold;}

#uploadTest img{
	width: 85%;
}

.myCourses{
	margin-top:0px;
}

#courses{
	width: 50%;
	height: 70%;
	text-align: right;
	float: left;
	margin: 3% 0px 0px 0px;
}

#course{
	border-radius: 5px;
	background-color: #3d9be9;
	box-shadow: 5px 5px #1e4d74;
	width: 80%;
	text-align: right;
	color: white;
	margin-top: 15px;
}

#course h3{display: inline}

.openCourse{
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px #808080;
	width: 80%;
	text-align: right;
	padding: 10px;
	margin-bottom: 5px;
}

.exercise, .exercise:hover {color: #c18a82}

.onlineTest, .onlineTest:hover {color: #0b92bc}	

.exercise, .onlineTest{text-decoration: none; font-weight: bold}
 