main{
	background-image:url("../pic/background1.png") ;
}

#uploadTest{
	width: 25%;
	height: 75%;
	float: left;
	text-align: center;
	border-radius: 5px;
    padding: 10px;
	background: rgba(255, 232, 145, 0.6);
    box-shadow: 5px 5px #dbba3b;
	margin: 5% 0px 0px 10%;
}

#uploadLink{
	color: black;
	font-size: 30px;
	margin-bottom: 20px;
	display: inline-block;
}

#uploadLink:hover{text-decoration: none; font-weight: bold;}

#uploadTest img{
	height: 75%;
}

.myCourses{
	margin-top:0px;
}

#content{
	width: 50%;
	height: 83%;
	text-align: right;
	float: left;
	margin: 3% 0px 0px 0px;
	
}

#courses{
	overflow-y: scroll;
	height: 80%;
	direction: ltr;
	padding-right: 15px;
}

#course{
	border-radius: 5px;
	background-color: #3d9be9;
	box-shadow: 5px 5px #1e4d74;
	width: 80%;
	text-align: right;
	color: white;
	margin-top: 15px;
}

#course h3{display: inline}

.openCourse{
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px #808080;
	width: 80%;
	text-align: right;
	padding: 10px;
	padding-top: 20px;
	margin-bottom: 5px;
}

.exercise, .exercise:hover {color: #c18a82}

.onlineTest, .onlineTest:hover {color: #0b92bc}	

.exercise, .onlineTest{text-decoration: none; font-weight: bold}
 
 /* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffe891; 
    border-radius: 10px;
}
