main{
	background-image:url("../pic/background2.png") ;
    background-size: 16%;
}

#uploadForm{
	border-radius: 5px;
	background-color: white;
	box-shadow: 10px 10px #808080;
	width: 42%;
	overflow: hidden;
	margin: 5% 30% 0 0;
	text-align: left;
	padding: 2% 3% 4%;
}

#uploadForm ul{
    padding-right: 0;
}

#uploadForm li{
    float: right;
    width: 50%;
    text-align: center;
}

#uploadForm form{
    margin-top: 7%;
}

lable{
    font-size: 17px;
    font-weight: none;
}

#uploadIcon{display: none}

#rightForm{float: right; width: 50%;}

#rightForm input{width:160px; height: 25px;}

#leftForm{float: right;width: 40%;}

#leftForm input,select{width:50px; height: 25px;}

input, select {background-color: #ffeeec; border: none; border-radius: 5px; font-weight: normal; outline: none;}

#file {width: 200px; margin-bottom: 0px;}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.clear{clear:both; text-align: center;}

#formPic{ 
    margin-bottom: 4%;
    width: 90%;
    float: left;
}

#formPic:hover{ opacity: 0.5}

.newSpan{
    color: black;
    background-color: #f5f5f5;
    font-weight: bold;
    direction: ltr;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3%;
}

.pointer {cursor: pointer;}

#buttons input{
	margin: 0 auto;
	background-color: #ff8c62 ;
	color: white;
	box-shadow: 5px 5px #ffeeec;
	border-radius: 10px;
	padding: 8px 15px;
    border: none;
    cursor: pointer;
}

#filePreview{
    width: 20%;
    height: 60%;
    margin: 5% 2% 0 0;
}

#uploadButton:hover{background-color: #ff6d38}
	
#anotherButton{
	float: left;
	border-radius: 5px;
    padding: 10px;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	margin: 3% 0px 0px 15%;
	border: none;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
}

#homeButton:hover{background-color: #eee1af}

.right{
    float: right;
}

 /* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffe891; 
    border-radius: 10px;
}


@media only screen and (max-width: 700px) {
    #uploadForm, #rightForm, #leftForm{
        width: 100%;
        margin: 4% 0;
    }
    #rightForm{margin-bottom: 0}
    #leftForm{margin-top: 0}
    
    #filePreview{display: none;}
    
    
}
