main{
	background-image:url("../pic/background2.png") ;
}

#uploadForm{
	border-radius: 5px;
	background-color: white;
	box-shadow: 10px 10px #808080;
	width: 44%;
	overflow: hidden;
	text-align: right;
	margin: 5%  auto 0;
	text-align: left;
	padding: 3% 3%;
}

lable{
    font-size: 17px;
    font-weight: none;
}

#uploadIcon{display: none}

#rightForm{float: right; width: 50%;}

#rightForm input{width:160px; height: 25px;}

#leftForm{float: right;width: 40%;}

#leftForm input,select{width:50px; height: 25px;}

input, select {background-color: #ffeeec; border: none; border-radius: 5px; font-weight: normal; outline: none;}

#file {width: 200px; margin-bottom: 0px;}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.clear{clear:both; text-align: center;}

#formPic{ width: 78%;}

#formPic:hover{ opacity: 0.5}

.newSpan{
    color: black;
    font-weight:bold;
    direction: ltr;
    padding: 2px 10px;
    display: inline-block;
    border: 0.6px solid black;
    border-radius:5px;
}

.pointer {cursor: pointer;}

#uploadButton{
	margin: 0 auto;
	background-color: #ff8c62 ;
	color: white;
	box-shadow: 5px 5px #ffeeec;
	border-radius: 10px;
	padding: 8px 15px;
    border: none;
}

#uploadButton:hover{background-color: #ff6d38}
	
#homeButton{
	float: left;
	border-radius: 5px;
    padding: 10px;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	margin: 3% 0px 0px 15%;
	border: none;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
}

#homeButton:hover{background-color: #eee1af}